@import "tailwindcss";

/* This ensures the browser doesn't add weird gaps and the background is always dark */
:root {
  margin: 0;
  padding: 0;
  background-color: #09090b; /* Zinc-950 color */
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

