@import "tailwindcss";

/* Forces the app to take up the full browser window */
:root {
  line-height: 1.5;
  font-weight: 400;
  background-color: #09090b; /* Deep Black */
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden; /* Prevents annoying side-scrolling */
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}